@model IEnumerable<Social.Models.ApplicationUser>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Who I Follow</h1>
<ul>
    @foreach (var organizer in Model)
    {
        <li>@organizer.Name</li>
    }
</ul>

